.home {
  height: calc(100vh - 50px);
  width: 100%;
  background: url("../img/City.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  position: relative;
  & svg {
    width: 32px;
    color: #ffffff;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s;
    z-index: 0;
    cursor: pointer;
  }
}
.home__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 290px;
}
.home__name {
  width: 290px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: 0.35rem;
}

.home__position {
  align-self: flex-end;
  width: 130px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  text-align: right;
}
@media (min-width: 600px) {
  .home {
    & svg {
      width: 36px;
    }
  }
  .home__box {
    flex-direction: row;
    width: 100%;
    padding: 0 30px;
  }
  .home__name {
    width: 350px;
    font-size: 4.2rem;
    line-height: 4rem;
  }
  .home__position {
    width: 200px;
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}
